*{
  outline: 1px solid orange;
}

.container{
  float: left;
  height: auto;
  width: 25%;
  box-sizing: border-box;
  /*border: 2px solid orange;*/
}

.container-header{
  text-align: center;
}

ul{
  list-style: none;
  padding-left:0;
}

.items{
  box-sizing: border-box;
}

.item-container{
  height: 3em;
  box-sizing: border-box;
  margin-left: 33%;
}

.fa-stack > .fa-check{
  display:none;
}

.item{
  float:left;
  font-size: 2em;
}

.checkbox{
  float:left;
}

.add-list{
  float:left;
}

/*.list-items, .list-complete, .list-archive{
  display: inline;
  height: 100px;
  width: 20%;
  border: 2px solid blue;
}*/
